:root {
--primario: #3498db;
--tamaño-fuente: 16px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    background-color: #DDDDDD;
}

a {
    color: #000;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    background-color:var(--primario);
    padding: 15px 5px;  
}

nav{  
    display: flex;
    justify-content: space-around;
}

nav .enlaces {
    width: 60%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:var(--primario);
    padding: 40px 50px; 
}

footer .enlaces {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

footer .logo {
    position: absolute;
    top: 5px;
    left: 5px;
}

footer .copy {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/*PAGINA LOGIN*/
.formulario{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}
h2{
    margin: 1.5rem 0 2rem 0;
    text-align: center;
}
label{
    padding-left: 16px;
    opacity: 0.75;
}
input{
    display: flex;
    border-radius: 50px;
    border-style: none;
    outline: none;
    margin-top: 8px;
    padding: 12px 24px;
    width: 250px;
    background-color: #EAEEED;

}
input:focus{
    opacity: 0.7;
}
#boton_form{
    padding: 12px 48px;
    border-radius: 50px;
    color: white;
    margin-top: 1rem;
    cursor: pointer;
    outline: none;
    border-width: 0;
    background-color: #1A1B27;
    font-weight: 600;
    width: 100%;
}
#boton_form:hover{
    opacity: 0.8;
}