:root {
--primario: #3498db;
--oscuro: #196da5;
--tamaño-fuente: 16px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(to right, var(--oscuro) 0%, var(--primario) 10%, var(--primario) 95%, var(--oscuro) 100%);
}

a {
    color: #000;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    background-color:var(--primario);
    padding: 15px 5px;  
}

nav{  
    display: flex;
    justify-content: space-around;
}

nav .enlaces {
    width: 60%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

main {
    width: 85%;
    margin: auto;
}

.carrusel {
    border: 1px solid black;
    border-radius: 1.5em;
    width: 60%;
    max-width: 120em;
    background-color: var(--primario);
    margin: auto;
    overflow-x: hidden;
}

.carrusel .grande {
    width: 400%;
    height: 40vh;
    background-color: var(--primario);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    transition: all .5s ease;
    transform: translateX(0%);
}

.carrusel .img{
    background-color: #fff;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    width: calc(100% / 4);
    height: 100%;
    padding: 10px;
}

.carrusel .img img{
    height: 100%;
}

.carrusel .puntos {
    width: 100%;
    list-style-type: none;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.carrusel .punto {
    width: 2em;
    height: 2em;
    background-color: blue;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}

.carrusel .punto.activo{
    width: 2em;
    height: 2em;
    background-color: red;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color:var(--primario);
    padding: 40px 50px; 
}

footer .enlaces {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

footer .logo {
    position: absolute;
    top: 5px;
    left: 5px;
}

footer .copy {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/*PAGINA LOGIN*/
.formulario{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}
h2{
    margin: 1.5rem 0 2rem 0;
    text-align: center;
}
label{
    padding-left: 16px;
    opacity: 0.75;
}
input{
    display: flex;
    border-radius: 50px;
    border-style: none;
    outline: none;
    margin-top: 8px;
    padding: 12px 24px;
    width: 250px;
    background-color: #EAEEED;

}
input:focus{
    opacity: 0.7;
}
#boton_form{
    padding: 12px 48px;
    border-radius: 50px;
    color: white;
    margin-top: 1rem;
    cursor: pointer;
    outline: none;
    border-width: 0;
    background-color: #1A1B27;
    font-weight: 600;
    width: 100%;
}
#boton_form:hover{
    opacity: 0.8;
}

/*PAGINA PRODUCTOS*/

.productos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: flex-start;
}

.productos .producto {
    width: calc(100%/3 - 2em);
    height: 250px;
    background-color: red;
    margin: 1em 1em;